<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>FTL Duration Calculator</title>
</head>
<body>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#"><h1>FTL Duration Calculator</h1></a>
  </li>
 </ul>

            <div class="container-fluid">
			
	<!--<form onsubmit="url()" >-->
	
	<div class="row">
            <div class="form-group col-lg-2">
			
       <label for="planet">Planet:</label> 
  <input type="text" class="form-control" placeholder="Enter planet" id="planet" required>
  </div>
        </div>
  <div class="row">
            <div class="form-group col-lg-2">
  <label for="speed">Speed:</label>
  <input type="speed" class="form-control" placeholder="Enter speed" id="speed" required>
  </div>
        </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit"></input>
 <h1 class="here"></h1>
   <!-- </form>   -->
	
	</div>
	 
    
</body>
<script>
   // var a = "http://localhost:3000/planets/";
   // var b = "/speed/";
    //let planet = document.querySelector('#planet').value
    //let speed = document.querySelector('#speed').value
    let send = document.querySelector('.btn')
    function url(){
      
      //u = a + document.getElementById("planet").value + b + document.getElementById("speed").value;
           
      url = `http://localhost:3000/planets/${planet}/speed/${speed}`;
        window.open(url);
        //alert(u);
        
    }

    send.addEventListener('click',()=>{
      let planet = document.querySelector('#planet').value
    let speed = document.querySelector('#speed').value
      console.log('clicked!')
      fetch(`http://localhost:3000/planets/${planet}/speed/${speed}`)
      .then(response =>{
        return response.json()
      })
      .then(data =>{
        h1 = document.querySelector('.here')
        h1.innerHTML =   data.value  ;            
        console.log(typeof data )
      })
    })
    </script>
    
</html>


